.sidebar:hover ~ .main {
    margin-left: 220px;
}

.main {
    font-family: 'Inter';
    margin-top: 0px;
}

/**************************MAIN CONTENT**************************/

.upload-container{
    max-width: 850px;
    margin: auto;
    padding: 30px;
}

.upload-container h1{
    text-align:center;
    font-size:40px;
    font-weight:700;
    margin-bottom:20px;
}

/* Labels */
.upload-container label{
    display:block;
    margin-bottom:8px;
    font-size:16px;
    font-weight:600;
}

/* Inputs */
.upload-container input[type=text],
.upload-container input[type=number],
.upload-container textarea,
.upload-container select{
    width:100%;
    padding:14px;
    border:1px solid #6D3BD7;
    border-radius:4px;
    margin-bottom:20px;
    font-size:16px;
}

/* Upload Area */
.upload-box{
    border:2px dashed #9b9b9b;
    padding:25px;
    text-align:center;
    margin-bottom:20px;
}

.upload-box svg{
    margin-bottom:15px;
}

.upload-btn{
    display:inline-block;
    background:#d9d9d9;
    padding:12px 35px;
    border-radius:30px;
    font-size: 15px;
    cursor:pointer;
}

/* Two-column layout */
.form-row{
    display:flex;
    gap:20px;
}

.form-group{
    flex:1;
}

/* Monetization cards */
.pricing-options{
    display:flex;
    gap:20px;
    margin-bottom:20px;
}

.pricing-card{
    flex:1;
    border:1px solid #6D3BD7;
    border-radius:8px;
    padding:20px;
    display:flex;
    align-items:flex-start;
    gap:15px;
    cursor:pointer;
}

.pricing-card input{
    margin-top:5px;
}

.pricing-card h3{
    margin:0;
}

.pricing-card p {
    font-weight: 400; /* normal */
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

/* Button */
.btn-wrapper{
    text-align:center;
    margin-top:40px;
}

input[type=submit]{
    background:#6D3BD7;
    color:white;
    border:none;
    border-radius:10px;
    padding:15px 60px;
    font-size: 16px;
    font-weight:600;
    cursor:pointer;
}

input[type=submit]:hover{
    background:#5a2cc2;
}